body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}
.page-header{
    text-align: center;
    color: white;
    background-image: url("../images/home_header.jpg");
    background-size: cover;
	height: 100%;
    width: 100%;
}
.navbar{
    background-color: rgba(255, 0, 0, 0.5);
}
.nav-item{
    color: white !important;
    padding-left: 50px!important;
}
/*

ul{
    list-style-type: none;
    margin: 0;
    padding: 4%;
    display: flex;
    justify-content: center;
}
li{
	display: inline;
    border-bottom: 1px solid rgba(255, 0, 0, 0.8);
    font-size: 1.5em;
    margin: 2%;
}
*/
a{
	color: #fff;
    text-decoration: none;
}
a:hover{
    color: #E82C0C;
     color: rgba(255, 0, 0, 0.8);
    text-decoration: none;
}
#about a{
    color: #000;
}
#about a:hover{
    color: #E82C0C;

}
#services,#health-tips{
    background-attachment: fixed;
    background-size: cover;
     min-height: 500px;
}
#services{
    background-image: url("../images/bg/service_bkg.jpg");
}
#health-tips{
    background-image: url("../images/bg/health_bkg.jpg");

}
.serviceItem>img
/*,.health-tips-item>img*/
{
    height: 100px;
    width: 100px;
    border-radius: 5%;
}
.aboutItem>img{
    max-height: 100px;
    max-width: 100px;

}
 .top-gap{
    margin-top: 5%;
}
.serviceItem,.aboutItem{
    text-align: center;
}
.health-tips-item,.serviceItem{
    background-color: rgba(0,0,0,.4);
    border-bottom: 5px solid rgba(255, 0, 0, .5);
}
.serviceItem{
    margin: 10px;
    min-height: 400px;    

}
.health-tips-item{
    margin: 5px;
    min-width: 300px;
    min-height: 350px;
    text-align: center;
}
h2,h3{
    padding: 10px 0px;
}
h3{
    font-size: 1.25rem;
}
h2{
    font-size: 1.5rem;
}
p{
/*    color: #545454;*/
      color: #fff;
}
#footer{
    background-color: #E82C0C;
    text-align: center;
    height: 45px;

}
#footer>p{
    color: #fff;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#copyRight{
    padding: 10px 0;
}
#logo{
    max-height: 45px;
    float: left;
    margin-left: 3%;
}
/*
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/*

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    li{   
        margin: 0;
        border-bottom: 0px ;

    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    li{	
        border-bottom: 0px ;
        margin: 0;    

    }
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
*/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
    #services{
        background: url("../images/bg/service_bkg_mobile.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        overflow: hidden;
        
    }
    #health-tips{
        background: url("../images/bg/health_bkg_mobile.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        overflow: hidden;
        

    }   
    
    .serviceItem,.health-tips-item{
    margin: 10px;
    min-height: 100px; 
    }

}

