body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}
.page-header{
    text-align: center;
    color: white;
    background-image: url("../images/home_header.jpg");
    background-size: cover;
	height: 100%;
    width: 100%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 4%;
    display: flex;
    justify-content: center;
}
li{
	display: inline;
    border-bottom: 1px solid rgba(255, 0, 0, 0.8);
    font-size: 1.5em;
    margin: 2%;
}
a{
	color: #fff;
    text-decoration: none;
}
a:hover{
/*    color: #E82C0C;*/
     color: rgba(255, 0, 0, .8);
    text-decoration: none;
}
#about a{
    color: #000;
}
#about a:hover{
    color: #E82C0C;

}
#services,#health-tips{
    background-attachment: fixed;
    background-size: cover;
     min-height: 500px;
}
#services{
    background-image: url("../images/bg/service_bkg.jpg");
}
#health-tips{
    background-image: url("../images/bg/health_bkg.jpg");

}
.serviceItem>img
/*,.health-tips-item>img*/
{
    height: 100px;
    width: 100px;
    border-radius: 5%;
}
.aboutItem>img{
    max-height: 100px;
    max-width: 100px;

}
 .top-gap{
    margin-top: 5%;
}
.serviceItem,.aboutItem{
    text-align: center;
}
.health-tips-item,.serviceItem{
    background-color: rgba(0,0,0,.4);
    border-bottom: 5px solid rgba(255, 0, 0, .5);
}
.serviceItem{
    margin: 10px;
    min-height: 400px;    
/*  width: 5000px;*/
}
.health-tips-item{
    margin: 5px;
    min-width: 300px;
    min-height: 350px;
    text-align: center;
}
h2,h3{
    padding: 10px 0px;
}
h3{
    font-size: 1.25rem;
}
h2{
    font-size: 1.5rem;
}
p{
/*    color: #545454;*/
      color: #fff;
}
#footer{
    background-color: #E82C0C;
    text-align: center;
    height: 45px;

}
#footer>p{
    color: #fff;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#copyRight{
    padding: 10px 0;
}
#logo{
    max-height: 45px;
    float: left;
    margin-left: 3%;
}
